body {
    box-sizing: border-box;
    margin: 0;
    background-color: #F3EAE3;
}

/* .card-box {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.card-container {
    max-width: 600px;
    /* min-height: 260px; */
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-2 {
    padding: 30px;
}

h6 {
    font-family: Montserrat;
    font-weight: 100;
    color: #B1B2B6;
    letter-spacing: 3.5px;
}

.perfume-img {
    width:300px 
}